{% extends "asmdapp/base.html" %}
{% block content %}
    {% for model in models %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ model.user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ model.user }}</a>
              <small class="text-muted">{{ model.date_created|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'model-detail' model.id %}">{{ model.name }}</a></h2>
            <p class="article-content">{{ model.name }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
